<app-student-nav-bar></app-student-nav-bar>
<!-- <ul>
<li *ngFor="let enroll of enrolls" [hidden]="enroll.studentId!=currentStudent.id" >{{enroll.actName}} {{enroll.status}}</li>
</ul> -->
<mat-chip-list class="mat-chip-list-stacked">
        <mat-chip *ngFor="let enroll of enrolls" [hidden]="enroll.studentId!=currentStudent.id">
                {{enroll.actName}}({{enroll.status}})
        </mat-chip>
      </mat-chip-list>
<router-outlet></router-outlet>
