
<mat-toolbar color="primary">

  <button mat-button routerLink="/teacher/{{currentTeacher.id}}">
  <mat-icon>home</mat-icon> 
      {{title}}</button>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button mat-button routerLink="/login" routerLinkActive="router-link-active">Logout</button>
      <button mat-button routerLink="/teacher/{{currentTeacher.id}}/teacherViewActivity" routerLinkActive="router-link-active">View activities</button>
  </div>
 </mat-toolbar>
