<app-admin-nav-bar></app-admin-nav-bar>
<div class="medium-list">
  <div class="list-viewer-wrapper">
    <div class="list-header-title">Register Teacher</div>

    <form [formGroup]="regTeacherForm" (ngSubmit)="regTeacherForm.valid && onSubmit()" novalidate>
      <div class="form-container">

        <mat-form-field>
            <input id="username"
                   matInput
                   formControlName="username"
                   placeholder="Enter teacher username" />
          </mat-form-field>

          <mat-form-field>
            <input id="password"
                   matInput
                   formControlName="password"
                   placeholder="Enter teacher password"
                   [type]="hide ? 'password':'text'" />
              <mat-icon matSuffix (click)="hide = !hide">
                {{hide ? 'visibility' : 'visibility_off'}}
              </mat-icon>
          </mat-form-field>

    <button mat-button type="submit" 
                        class="mat-raised-button mat-primary"  [disabled]="!regTeacherForm.valid" >
                        Register</button>
      </div>
    </form>
  </div>
</div>
<h3>All registered Teachers:</h3>
<ul>
    <li *ngFor="let teacher of teachers">
     id: {{teacher.id}} username: {{teacher.username}} pass: {{teacher.password}}
        - <a (click)="deleteTeacher(teacher.id)" class="text-danger">Delete</a>
    </li>
</ul>
<h3>All registered Users:</h3>
<ul>
    <li *ngFor="let user of users">
      {{user.id}} {{user.name}} {{user.surname}}
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul>
<router-outlet></router-outlet>