
<mat-toolbar color="primary">

  <button mat-button routerLink="/student/:username">
  <mat-icon>home</mat-icon> 
      {{title}}</button>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        <button mat-button routerLink="/login" routerLinkActive="router-link-active">Logout</button>
      <button mat-button routerLink="/student/{{currentStudent.id}}/studentViewActivity" routerLinkActive="router-link-active">View Activities</button>

      <button mat-button routerLink="/student/{{currentStudent.id}}/enrolled" routerLinkActive="router-link-active">EnrolledActivity</button>
      <button mat-button routerLink="/student/{{currentStudent.id}}/aboutActivity" routerLinkActive="router-link-active">Why Activity?</button>
            
  </div>
 </mat-toolbar>

