<app-student-nav-bar></app-student-nav-bar>
<div class="all">
<mat-tab-group dynamicHeight>
  <mat-tab label="Learn and Enjoy">
    <div class="example-large-box mat-elevation-z4">
      When we are learning through activities, we are not bored and we will 
      have good desire to learn when this activity is so interesting or funny!

    </div>
  </mat-tab>
  <mat-tab label="Make new Friends">
    <div class="example-large-box mat-elevation-z4">
      In group Activities, we always interact with group members and if that group members
      are new to us, it means that we have chance to make new friendship!
    </div>
  </mat-tab>
  <mat-tab label="Share your Tradition">
    <div class="example-large-box mat-elevation-z4">
      If the activity is international, we can make international friends and learn about 
      our traditional costumes, languages and cultures!
    </div>
  </mat-tab>
  <mat-tab label="What's your idea?" *ngIf="showYourIdea">
    <div class="example-large-box mat-elevation-z4">
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="add your idea" value="{{myWords}}"></textarea>
      </mat-form-field><br>
      <button mat-button (click)="onAdd(myWords)" 
                    class="mat-raised-button mat-primary"
                    ><mat-icon>add</mat-icon></button>
    </div>
  </mat-tab>
  <mat-tab label="My Idea" *ngIf="showMyIdea">
    <div class="example-large-box mat-elevation-z4">
      Thanks for Sharing Your Idea!
    </div>
  </mat-tab>
</mat-tab-group>
</div>
<router-outlet></router-outlet>