
<mat-toolbar color="primary">

  <button mat-button routerLink="/">
  <mat-icon>home</mat-icon> 
      {{title}}</button>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button mat-button routerLink="login" routerLinkActive="router-link-active">Login</button>
      <button mat-button routerLink="register" routerLinkActive="router-link-active">Register</button>
  </div>
     <button mat-button [matMenuTriggerFor]="menu" fxHide="false" fxHide.gt-sm>
   <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item routerLink="/products">Products</button>
    <button mat-menu-item routerLink="/dashboard">Dashboard</button>
    <!--<button mat-menu-item>Help</button>-->
</mat-menu>
<router-outlet></router-outlet>
  