﻿<div class="medium-list">
        <div class="list-viewer-wrapper">
          <div class="list-header-title">Login</div>
      
          <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onSubmit()" novalidate>
            <div class="form-container">
      
              <mat-form-field>
                  <input id="email"
                         matInput
                         formControlName="username"
                         placeholder="Enter your email" />
                </mat-form-field>
      
              <mat-form-field>
                  <input id="password"
                         matInput
                         formControlName="password"
                         placeholder="Enter your password"
                         [type]="hide ? 'password':'text'" />
                    <mat-icon matSuffix (click)="hide = !hide">
                      {{hide ? 'visibility' : 'visibility_off'}}
                    </mat-icon>
                </mat-form-field>  

                <mat-form-field>
                  <mat-select [(value)]="selectedRole" placeholder="Role" 
                  formControlName="role">
                    <mat-option value="Student">Student</mat-option>
                    <mat-option value="Teacher">Teacher</mat-option>
                  </mat-select>
                </mat-form-field>

                
                <button mat-button type="submit" 
                        class="mat-raised-button mat-primary" 
                        [disabled]="!loginForm.valid" [disabled]="loading">Login</button>
                <button mat-button routerLink="/register" class="divider">Register</button>
            </div>
          </form>
        </div>
      </div>

      <!-- <h3>All registered Students:</h3>
      <ul>
          <li *ngFor="let user of users">
              {{user.name}}
              - <a (click)="deleteAct(user.id)" class="text-danger">Delete</a>
          </li>
      </ul>
      <h3>All registered Teacher:</h3>
      <ul>
          <li *ngFor="let teacher of teachers">
              {{teacher.username}} {{teacher.id}} 
              - <a (click)="deleteAct(user.teacher)" class="text-danger">Delete</a>
          </li>
      </ul> -->
<router-outlet></router-outlet>