<app-admin-nav-bar></app-admin-nav-bar>
<div *ngIf="act">
    <h2>{{act.name | uppercase}} Details</h2>
    <div><span>id: </span>{{act.id}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="act.name" placeholder="name"/>
      </label>
    </div>
    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>
  </div> 
<router-outlet></router-outlet>
