
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" 
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-nav-list>
      <!-- <a mat-list-item [routerLink]="['login']" [matMenuTriggerFor]="login">Login</a> -->
      <a mat-list-item [routerLink]="['login']" routerLinkActive="router-link-active" >Login</a>
      <a mat-list-item [routerLink]="['register']" routerLinkActive="router-link-active" >Register</a>
      <!-- <a mat-list-item  [matMenuTriggerFor]="menu">View</a> -->

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" >
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span> Learning Through Activity Management System</span>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>