<div class="mat-elevation-z8">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
<h2>Activity</h2>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort aria-label="Elements">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef> location </th>
    <td mat-cell *matCellDef="let element"> {{element.location}} </td>
  </ng-container>
  <!-- Weight Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef="sdate">
    <th mat-header-cell *matHeaderCellDef> sdate </th>
    <td mat-cell *matCellDef="let element"> {{element.sdate}} </td>
  </ng-container>

  <ng-container matColumnDef="edate">
    <th mat-header-cell *matHeaderCellDef> edate </th>
    <td mat-cell *matCellDef="let element"> {{element.edate}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> date </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef> time </th>
    <td mat-cell *matCellDef="let element"> {{element.time}} </td>
  </ng-container>
  <ng-container matColumnDef="teacher">
    <th mat-header-cell *matHeaderCellDef> teacher </th>
    <td mat-cell *matCellDef="let element"> {{element.teacher}} </td>
  </ng-container>
  <ng-container matColumnDef="enroll">
    <th mat-header-cell *matHeaderCellDef>enroll </th>
    <td mat-cell *matCellDef="let element" >
        <button class="button" mat-button  (click)="getValues(element.name, element.teacher)">
          enroll</button></td>
  </ng-container>
  
 

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator hidden="true" #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
<!-- <h2>Activities</h2>
<ul>
  <li *ngFor="let act of acts">
    {{act.name}}
  </li> -->

<!-- </ul> -->
<!-- <h2>Enrollments</h2>-->
<button mat-button class="mat-raised-button mat-warn" (click)="deleteEnrollments()">Delete all</button>
<!--
<ul>
  <li *ngFor="let enroll of enrolls">
   Enroll id:{{enroll.id}}- StudentId: {{enroll.studentId}} - Activity Name:{{enroll.actName}} 
   -Activity Teacher: {{enroll.actTeacher}} - Status: {{enroll.status}}
  </li>
</ul> -->

<div class="medium-list" *ngIf="disableForm">
  <div class="list-viewer-wrapper">
    <div class="list-header-title">Enroll</div>
  <form [formGroup]="enrollForm"  (ngSubmit)="enrollForm.valid && onEnroll()" novalidate>
      <div class="form-container" >
          <mat-form-field class="example-full-width">
              <mat-select placeholder="Your id"  formControlName='studentId'>
               <mat-option  value="{{currentUser.id}}"  >
                 {{currentUser.id}}
               </mat-option>
             </mat-select>
             </mat-form-field>
        
            <mat-form-field class="example-full-width">
                <mat-select placeholder="Activity Name"  formControlName='actName'>
                 <mat-option value='{{actName}}'  >
                    {{actName}}
                 </mat-option>
               </mat-select>
               </mat-form-field>

               <mat-form-field class="example-full-width">
                  <mat-select placeholder="Activity Teacher"  formControlName='actTeacher'>
                   <mat-option value='{{actTeacher}}'  >
                      {{actTeacher}}
                   </mat-option>
                 </mat-select>
                 </mat-form-field>
              
               <mat-form-field class="example-full-width">
                  <mat-select placeholder="Status"  formControlName='status'>
                   <mat-option  value="{{status}}"  >
                     {{status}}
                   </mat-option>
                 </mat-select>
                 </mat-form-field>

       <button mat-button type="submit"  [disabled]="!enrollForm.valid"
                  class="enrollButton" 
                  >Enroll</button>
      </div>
    </form>
  </div>
</div>
<router-outlet></router-outlet>
