
<mat-toolbar color="primary">

  <button mat-button routerLink="/admin">
  <mat-icon>home</mat-icon> 
      {{title}}</button>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button mat-button routerLink="/login" routerLinkActive="router-link-active">Logout</button>
      <button mat-button routerLink="/registerActivity" routerLinkActive="router-link-active">Register Activity</button>
      <button mat-button routerLink="/adminViewActivity" routerLinkActive="router-link-active">View Activities</button>
      <button mat-button routerLink="/adminRegisterTeacher" routerLinkActive="router-link-active">Register Teacher</button>
  </div>
 </mat-toolbar>

