<app-admin-nav-bar></app-admin-nav-bar>
<button mat-button class="mat-raised-button mat-warn" (click)="deleteAll()">Delete all</button>
<div class="mat-elevation-z8">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort aria-label="Elements">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> id </th>
    <td mat-cell *matCellDef="let element">
         {{element.id}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef> location </th>
    <td mat-cell *matCellDef="let element"> {{element.location}} </td>
  </ng-container>
  <!-- Weight Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef="sdate">
    <th mat-header-cell *matHeaderCellDef> sdate </th>
    <td mat-cell *matCellDef="let element"> {{element.sdate}} </td>
  </ng-container>

  <ng-container matColumnDef="edate">
    <th mat-header-cell *matHeaderCellDef> edate </th>
    <td mat-cell *matCellDef="let element"> {{element.edate}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> date </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef> time </th>
    <td mat-cell *matCellDef="let element"> {{element.time}} </td>
  </ng-container>
  <ng-container matColumnDef="teacher">
    <th mat-header-cell *matHeaderCellDef> teacher </th>
    <td mat-cell *matCellDef="let element"> {{element.teacher}} </td>
  </ng-container>
  <ng-container matColumnDef="enrolledStudent">
    <th mat-header-cell *matHeaderCellDef> enrolledStudent </th>
    <td mat-cell *matCellDef="let element"> {{element.enrolledStudent}} </td>
  </ng-container>
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>edit </th>
    <td mat-cell *matCellDef="let element" >
        <button mat-button (click)="edit(element.id,element.name,element.location,element.description,element.sdate,
        element.edate,element.date,element.time,element.teacher, element.enrollButton)">
          <mat-icon>edit</mat-icon></button></td>
  </ng-container>
  <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>delete </th>
      <td mat-cell *matCellDef="let element" >
          <button mat-button (click)="deleteAct(element.id)">
            <mat-icon>delete</mat-icon></button></td>
    </ng-container> 
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator hidden="true" #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
Pending Activities:

<ul>
    <li *ngFor="let act of enrolledActs">
        {{act}}
    </li>
</ul>

<!-- <button mat-button routerLink="/actDetail/{{element.id}}"
   routerLinkActive="router-link-active"><mat-icon>edit</mat-icon></button></td> -->
<div class="medium-list" *ngIf="showEditForm">
  <div class="list-viewer-wrapper">
    <div class="list-header-title">Edit: {{currentActName}}(Still working on!)</div>
      <form [formGroup]="actUpdateForm" (ngSubmit)="onSubmit(actUpdateForm)" novalidate>
        <div class="form-container">
            <mat-form-field>
                <input id="id"
                      matInput
                       value={{currentActId}} 
                      placeholder="Activity id" readonly/>
                </mat-form-field>
          <mat-form-field>
              <input id="name"
                    matInput
                     value={{currentActName}}
                    placeholder="Enter activity name" />
              </mat-form-field>
    
              <mat-form-field>
                <input id="location"
                       matInput
                       value={{currentActLocation}}
                       placeholder="Enter activity location" />
              </mat-form-field>
    
              <mat-form-field>
                <input id="description"
                       matInput
                        value={{currentActDescription}}
                       placeholder="Enter activity description" />
              </mat-form-field>
    
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Enter start date(registration)" value={{currentActSDate}}
                 type="date" name="sdate" >
             </mat-form-field>
    
             <mat-form-field class="example-full-width">
              <input matInput placeholder="Enter end date(registration)" value={{currentActEDate}}
              type="date" name="edate" >
           </mat-form-field>
    
           <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter activity date" value={{currentActDate}}
             type="date" name="date" >
         </mat-form-field>
    
         <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter activity time" value={{currentActTime}}
          type="time" name="time" >
         </mat-form-field>
    
         <mat-form-field>
          <input id="teacher"
                 matInput
                  value={{currentActTeacher}}
                 placeholder="Enter activity teacher" />
        </mat-form-field>
         <!-- <mat-select placeholder="Teacher">
          <mat-option *ngFor="let user of users" [value]="user.name" formControlName='teacher' >
            {{user.name}}
          </mat-option>
        </mat-select> -->
        <button mat-button type="submit"
                            class="mat-raised-button mat-primary" [disabled]="loading">
                            Update</button>
        <!-- <button mat-button class="mat-raised-button mat-warn" (click)="resetForm()">Reset</button> -->
        <button mat-button class="divider" (click)="cancel()" >Cancel</button>
        </div>
     </form>
   </div>
</div>

<router-outlet></router-outlet>