<app-navteacher></app-navteacher>

<!-- <button mat-button class="mat-raised-button mat-warn" (click)="deleteAll()">Delete all</button> -->
<div class="mat-elevation-z8">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter by your name or activity name">
  </mat-form-field>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort aria-label="Elements">
  <!-- <ng-container matColumnDef="enrollId">
    <th mat-header-cell *matHeaderCellDef> Enroll id </th>
    <td mat-cell *matCellDef="let element">
         {{element.id}} </td>
  </ng-container> -->
  <ng-container matColumnDef="actName">
    <th mat-header-cell *matHeaderCellDef> Activity Name </th>
    <td mat-cell *matCellDef="let element"> {{element.actName}} </td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="actTeacher">
    <th mat-header-cell *matHeaderCellDef> Teacher </th>
    <td mat-cell *matCellDef="let element"> {{element.actTeacher}} </td>
  </ng-container>
  <!-- Weight Column -->
  <ng-container matColumnDef="studentId">
    <th mat-header-cell *matHeaderCellDef> Student </th>
    <td mat-cell *matCellDef="let element"> {{element.studentId}} </td>
  </ng-container>

  <ng-container matColumnDef="actStatus">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>
  
  <ng-container matColumnDef="accept">
    <th mat-header-cell *matHeaderCellDef>Accept </th>
    <td mat-cell *matCellDef="let element" >
        <button mat-button [color]="'success'" [disabled]="isDisabled(element)"  (click)="accept(element)">Accept</button></td>
  </ng-container>

  <!-- <ng-container matColumnDef="reject">
      <th mat-header-cell *matHeaderCellDef>Reject </th>
      <td mat-cell *matCellDef="let element" >
          <button mat-button [color]="'fail'" [disabled]="isDisabled(element)" (click)="reject(element)">Reject</button></td>
    </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator hidden="true" #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>

<div class="medium-list" *ngIf="showForm">
    <div class="list-viewer-wrapper">
      <div class="list-header-title">Select to Confirm</div>
    <form [formGroup]="enrollForm"  (ngSubmit)="enrollForm.valid && onAccept()" novalidate>
        <div class="form-container" >
            <mat-form-field class="example-full-width">
                <mat-select placeholder="Activity Name"  formControlName='actName'>
                 <mat-option value='{{actName}}'  >
                    {{actName}}
                 </mat-option>
               </mat-select>
               </mat-form-field>
               
               <mat-form-field class="example-full-width">
                  <mat-select placeholder="Activity Teacher"  formControlName='actTeacher'>
                   <mat-option value='{{actTeacher}}'  >
                      {{actTeacher}}
                   </mat-option>
                 </mat-select>
                 </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-select placeholder="Student id"  formControlName='studentId'>
                 <mat-option  value="{{studentId}}"  >
                   {{studentId}}
                 </mat-option>
               </mat-select>
               </mat-form-field>
                
                 <mat-form-field class="example-full-width">
                    <mat-select placeholder="Status"  formControlName='status'>
                     <mat-option  value="accepted"  >
                       accepted
                     </mat-option>
                   </mat-select>
                   </mat-form-field>
  
         <button mat-button type="submit"  [disabled]="!enrollForm.valid"
                    class="enrollButton"  [color]="'success'"
                    >Accept</button>
        </div>
      </form>
    </div>
  </div>
<router-outlet></router-outlet>