table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  img {
    max-width: 20rem;
    max-height: 20rem;
  }
  
  tr.mat-footer-row {
    font-weight: bold;
  }
  
  .penInput {
    min-width: 2rem;
    max-width: 2rem;
  }
  
  .mat-cell {
    padding: 8px 8px 8px 0;
  }
  
  .center-button {
    text-align: center;
    padding-left: .5em;
  }
  
  .center-text {
    text-align: center;
  }
  
  .center {
    display: flex;
    justify-content: center;
  }
  
  .mat-header-cell {
    text-align: center;
  }
  .mat-cell{
    text-align: center;
  }
  .mat-success {
    background-color: green;
    color: #fff;
}
 .mat-fail {
    background-color: red;
    color: #fff;
}
.form{
    align-content: center;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    align-content: center;
  }
  
  .form-group {
    width: 100%;
  }
  body {
    margin: 0;
  }
  
  .spacer {
    flex-grow: 1;
  }
  
  
  .medium-list {
    margin: auto;
    width: 600px;
    padding: 10px;
  }
     
  .list-viewer-wrapper {
    border: 1px solid rgba(0, 0, 0, .03);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
    margin: 4px;
  }
  
  .list-header-title {
    color: rgba(0, 0, 0, .54);
    background: rgba(0, 0, 0, .03);
    padding: 8px 20px;
    font-weight: bold;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
  }
  
  .divider {
    margin-top: 10px !important; 
  }
  
  