<app-admin-nav-bar></app-admin-nav-bar>
<div class="medium-list">
  <div class="list-viewer-wrapper">
    <div class="list-header-title">Register Activity</div>

<form [formGroup]="regActForm" (ngSubmit)="regActForm.valid && onSubmit()" novalidate>
  <div class="form-container">
        <mat-form-field>
         <input id="name"
                matInput
                formControlName="name"
                placeholder="Enter activity name" />
        </mat-form-field>

        <mat-form-field>
          <input id="location"
                  matInput
                  formControlName="location"
                  placeholder="Enter activity location" />
        </mat-form-field>

        <mat-form-field>
          <input id="description"
                  matInput
                  formControlName="description"
                  placeholder="Enter activity description" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter start date(registration)"
            formControlName = 'sdate' type="date" name="sdate" >
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter end date(registration)"
          formControlName = 'edate' type="date" name="edate" >
        </mat-form-field>

        <mat-form-field class="example-full-width">
         <input matInput placeholder="Enter activity date"
         formControlName = 'date' type="date" name="date" >
        </mat-form-field>

        <mat-form-field class="example-full-width">
         <input matInput placeholder="Enter activity time"
         formControlName = 'time' type="time" name="time" >
        </mat-form-field>

     <mat-form-field class="example-full-width">
     <mat-select placeholder="Teacher"  formControlName='teacher'>
      <mat-option *ngFor="let teacher of teachers" value="teacher.username"  >
        {{teacher.username}}
      </mat-option>
    </mat-select>
    </mat-form-field>

        <button mat-button type="submit" 
            class="mat-raised-button mat-primary"  [disabled]="!regActForm.valid" [disabled]="loading" >
            Register</button>
      </div>
    </form>
  </div>
</div>



<h3>All registered Activities:</h3>
<ul>
    <li *ngFor="let act of acts">
        {{act.name}}
        - <a (click)="deleteAct(act.id)" class="text-danger">Delete</a>
    </li>
</ul>


<!-- 
<h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.name}}
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
    <p>Activity</p>
    <li *ngFor="let act of acts">
        {{act.name}}
    </li>
</ul>

<p><a [routerLink]="['/login']">Logout</a></p> -->
<router-outlet></router-outlet>