<app-student-nav-bar></app-student-nav-bar>
<mat-card class="example-card" *ngFor="let user of users" [hidden]="user.id!=currentUser.id">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{user.name}}</mat-card-title>
      <mat-card-title>{{user.surname}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{user.image}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>Student Id: {{user.id}}</p>
      <p>Birthday: {{user.dateOfBirth}}</p>
      <p>E-mail: {{user.username}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="update()">UPDATE</button>
    </mat-card-actions>
  </mat-card>
  <div class="medium-list" *ngIf="showForm">
    <div class="list-viewer-wrapper">
      <div class="list-header-title">Update</div>
  
      <form [formGroup]="updateForm" (ngSubmit)="updateForm.valid && onUpdate()" novalidate>
        <div class="form-container">
          <mat-form-field>
            <input id="name"
                   matInput
                   formControlName="name"
                   placeholder="Enter your name" />
          </mat-form-field>

          <mat-form-field>
                <input id="surname"
                       matInput
                       formControlName="surname"
                       placeholder="Enter your surname" />
          </mat-form-field>

          <mat-form-field>
                <input id="studentId"
                       matInput
                       formControlName="studentId"
                       placeholder="Enter your Student ID" />
          </mat-form-field>

          <mat-form-field>
                <input id="image"
                       matInput
                       formControlName="image" type="url"
                       placeholder="Enter your image URL" />
          </mat-form-field>

          <mat-form-field class="example-full-width">
                <input matInput placeholder="Enter your birthday"
                formControlName = 'dateOfBirth' type="date" name="dateofBirth" >
          </mat-form-field>
  
          <mat-form-field>
              <input id="email"
                     matInput
                     formControlName="username"
                     placeholder="Enter your email" />
            </mat-form-field>
  
          <mat-form-field>
              <input id="password"
                     matInput
                     formControlName="password"
                     placeholder="Enter your password"
                     [type]="hide ? 'password':'text'" />
                <mat-icon matSuffix (click)="hide = !hide">
                  {{hide ? 'visibility' : 'visibility_off'}}
                </mat-icon>
            </mat-form-field>

            <mat-form-field>
                    <input id="cpassword"
                           matInput
                           formControlName="cpassword"
                           placeholder="Confirm your password"
                           [type]="hide ? 'password':'text'" />
                      <mat-icon matSuffix (click)="hide = !hide">
                        {{hide ? 'visibility' : 'visibility_off'}}
                      </mat-icon>
            </mat-form-field>      
  
            <button mat-button type="submit" 
                    class="mat-raised-button mat-primary"  [disabled]="!updateForm.valid" [disabled]="loading"
                    >Update</button>
            <button mat-button routerLink="/login" class="divider">Login</button>
        </div>
      </form>
    </div>
  </div>