﻿<!-- <mat-card class="form-group">
        <mat-card-header>
          <mat-card-title>Register</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="registerForm" class="example-form">
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                  <input matInput placeholder="Name" [(ngModel)]="name" name="name" formControlName required>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
               <td>
                  <mat-form-field class="example-full-width">
                  <input matInput placeholder="Surname" [(ngModel)]="surname"type="text" name="surname" required>
                  </mat-form-field>
                </td>
              </tr>
            <tr>
                 <td><mat-form-field class="example-full-width">
                    <input matInput placeholder="Student Id" [(ngModel)]="studentId"type="text" name="studentId" required>
                  </mat-form-field></td>
            </tr>
            <tr>
                    <td><mat-form-field class="example-full-width">
                       <input matInput placeholder="Image" [(ngModel)]="image"type="url" name="image" required>
                     </mat-form-field></td>
            </tr>
            <tr>
                    <td><mat-form-field class="example-full-width">
                       <input matInput placeholder="Date of Birth" [(ngModel)]="dateOfBirth"type="date" name="dateofBirth" required>
                     </mat-form-field></td>
            </tr>
            <tr>
                    <td><mat-form-field class="example-full-width">
                       <input matInput placeholder="E-mail" [(ngModel)]="email"type="email" name="email" required>
                     </mat-form-field></td>
            </tr>
            <tr>
                    <td><mat-form-field class="example-full-width">
                       <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
                     </mat-form-field></td>
            </tr>
            <tr>
                    <td><mat-form-field class="example-full-width">
                       <input matInput placeholder="Confirm Password" [(ngModel)]="cpassword"type="password" name="cpassword" required>
                     </mat-form-field></td>
            </tr>
          </table>
          </form>
          <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
        </form>
        </mat-card-content>
        <mat-card-actions>
          <button [disabled]="loading" mat-raised-button color="primary" (click)="onSubmit()">Register</button>
          <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
        </mat-card-actions>
</mat-card> -->

<div class="medium-list">
        <div class="list-viewer-wrapper">
          <div class="list-header-title">Register</div>
      
          <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && onSubmit()" novalidate>
            <div class="form-container">
              <mat-form-field>
                <input id="name"
                       matInput
                       formControlName="name"
                       placeholder="Enter your name" />
              </mat-form-field>

              <mat-form-field>
                    <input id="surname"
                           matInput
                           formControlName="surname"
                           placeholder="Enter your surname" />
              </mat-form-field>

              <mat-form-field>
                    <input id="studentId"
                           matInput
                           formControlName="studentId"
                           placeholder="Enter your Student ID" />
              </mat-form-field>

              <mat-form-field>
                    <input id="image"
                           matInput
                           formControlName="image" type="url"
                           placeholder="Enter your image URL" />
              </mat-form-field>

              <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter your birthday"
                    formControlName = 'dateOfBirth' type="date" name="dateofBirth" >
              </mat-form-field>
      
              <mat-form-field>
                  <input id="email"
                         matInput
                         formControlName="username"
                         placeholder="Enter your email" />
                </mat-form-field>
      
              <mat-form-field>
                  <input id="password"
                         matInput
                         formControlName="password"
                         placeholder="Enter your password"
                         [type]="hide ? 'password':'text'" />
                    <mat-icon matSuffix (click)="hide = !hide">
                      {{hide ? 'visibility' : 'visibility_off'}}
                    </mat-icon>
                </mat-form-field>

                <mat-form-field>
                        <input id="cpassword"
                               matInput
                               formControlName="cpassword"
                               placeholder="Confirm your password"
                               [type]="hide ? 'password':'text'" />
                          <mat-icon matSuffix (click)="hide = !hide">
                            {{hide ? 'visibility' : 'visibility_off'}}
                          </mat-icon>
                </mat-form-field>      
      
                <button mat-button type="submit" 
                        class="mat-raised-button mat-primary"  [disabled]="!registerForm.valid"
                        >Register</button>
                <button mat-button routerLink="/login" class="divider">Login</button>
            </div>
          </form>
        </div>
      </div>
